*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #f2f2f2 ;
}
nav{
    background: url(img/hero-3-bg.png) no-repeat left bottom;
    background-color: #f2f2f2;
}